html,
body {
    height: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: fixed;
    height: 15%;
    width: 70%;
    padding-top: 1%;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    z-index: 2;

}

.icon {
    height: 100%;
}

.menu {
    height: 60%;
    width: 80%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    float: right;
    background-color: #F2F1F1;
    border-radius: 3rem;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button1 {
    padding: 1rem;
    border-radius: 3rem;
}

.button1 a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
}

.button1:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #5DB3DB;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.button:hover a {
    transition: 0.5s;
    color: #FFFFFF;
}

.page {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    width: 100vw;
}

.content {
    height: 80%;
    width: 70%;
    box-sizing: border-box;
}

.information {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.information h1 {
    font-size: 4rem;
    font-weight: bold;
}

.information p {
    font-size: 1.5rem;
}

.button2 {
    padding: 1.5rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5DB3DB;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    margin-top: 5%;
}

.button2 a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.button2:hover {
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background: #054b6c;

}

#cat1 {
    width: 65%;
    aspect-ratio: 1/1;
}

.info {
    width: 100%;
    display: flex;
}


#sobreNosotros {
    width: auto;
    height: 497px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;

}

.sobreNosotros .descripcion {
    width: 275px;
    height: 199px;
    text-align: center;
    border-radius: 30px;
    background-color: rgba(179, 179, 179, 0.6);
    display: flex;
    /* Añadido para que se comporte como flexbox */
    flex-direction: column;
    /* Cambio para centrar el contenido verticalmente */
    justify-content: center;
    align-items: center;
}

.sobreNosotros p {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}