html,
body {
    height: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: fixed;
    height: 15%;
    width: 70%;
    padding-top: 1%;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    z-index: 2;
}

.icon {
    height: 100%;
}

.menu {
    height: 60%;
    width: 80%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    float: right;
    background-color: #F2F1F1;
    border-radius: 3rem;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button1 {
    padding: 1rem;
    border-radius: 3rem;
}

.button1 a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
}

.button1:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #5DB3DB;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.button:hover a {
    transition: 0.5s;
    color: #FFFFFF;
}

.page {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    width: 100vw;
}

.content {
    margin-top: 10%;
    height: 80%;
    width: 100%;
    box-sizing: border-box;
}

.info {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    box-sizing: border-box;
}

.information {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.information h1 {
    font-size: 4rem;
    font-weight: bold;
}

.information p {
    font-size: 1.5rem;
}

.button2 {
    padding: 1.5rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5DB3DB;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    margin-top: 5%;
}

.button2 a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.button2:hover {
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background: #B1D4E0;
}

#cat1 {
    width: 65%;
    aspect-ratio: 1/1;
}

#aboutUs {
    width: auto;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    background-image: url("imagenes/catWallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* Agregado para que los elementos posicionados sean relativos a esta sección */
    z-index: 0;
    /* Asegura que la sección no cubra los elementos */
}

.aboutUs .description {
    width: 50%;
    max-width: 12rem;
    height: 10rem;
    text-align: center;
    border-radius: 3rem;
    background: rgba(255, 255, 255, 0.60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-left: 3%;
    margin-right: 3%;
    position: relative;
    /* Agregado para que la imagen se posicione respecto a este contenedor */
    z-index: 1;
    /* Asegura que el cuadro esté sobre el fondo */
    overflow: hidden;
    /* Agregado para ocultar la mitad inferior de la imagen */
}

.aboutUs .description .icon {
    position: absolute;
    top: 0;
    left: calc(50% - 45px);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: #D9D9D9;
    border-radius: 1rem;
    z-index: 2;
}

.aboutUs p {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 1rem 0;
}

#reviews {
    width: 100%;
    height: 100%;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex: flex-start;
    justify-content: center;
    align-items: center;
    background-color: rgba(177, 212, 224, 0.2);
    box-sizing: border-box;
}

#reviewsCat{
    width: 20%;
    margin-right: 0%;
    padding: 0%;
}

.reviewsOuterContainer{
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-left: 0%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reviewsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bolder;
    color: #27265B;
    margin: 0%;
    padding: 0%;
}

.reviewsTitle h1{
    margin: 10%;
    padding: 0%;
}

.reviewsInnerContainer{
    width: 80%;
    height: 100%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.reviewsHeader{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.reviewsCatOwned{
    width: 15%;
    margin: 5%;
    margin-left: 0%;
    padding: 0%;
    border-radius: 5rem;
    aspect-ratio: 1/1;
}

.reviewsData{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.reviewsData h2{
    color: #27265B;
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.reviewsData p{
    color: #27265B;
    font-size: 1rem;
    font-weight: thiner;
}

.reviewsContent{
    border-top-style: solid;
    border-top-width: 0.1rem;
    border-top-color: #27265B;
    color: #27265B;
}