@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    background-image: url("/imagenes/background/FondoHuellitas.png");
    background-size: cover;
    background-position: center;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/imagenes/FondoHuellitas.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.form-container {
    width: 70%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    background-color: transparent;
    z-index: 0;
}

.form-content {
    flex: 1;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.591);
    /* Utiliza rgba con transparencia */
}

.form-content>form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 1rem;
}

.form-content>form>.form-group {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

.form-content>form>.form-group>.container {
    width: 80%;
    height: 2rem;
    border: 0.1rem solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: #FFFFFF;

}

.form-content>form>.form-group>.container>input {
    width: calc(100% - 2.4rem);
    height: 100%;
    border: none;
    border-left: 0.1rem solid #D9D9D9;
    border-radius: 0 0.5rem 0.5rem 0;
    font-size: 0.8rem;
    color: #949393;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-left: 15%;
    padding-left: 5%;
}

::placeholder {
    opacity: 1;
    color: black;
}

.form-content>form>.form-group:nth-child(1) {
    grid-column: 2/3;
    grid-row: 3/4;

}

.form-content>form>.form-group:nth-child(2) {
    grid-column: 1/2;
    grid-row: 1/2;

}

.form-content>form>.form-group:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;

}

.form-content>form>.form-group:nth-child(6) {
    grid-column: 2/3;
    grid-row: 2/3;

}

.form-content>form>.form-group:nth-child(5) {
    grid-column: 2/3;
    grid-row: 1/2;
}

.form-content>form>.form-group:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/4;
}

.title-container {
    width: 30%;
    height: 100%;
    background-color: #34344C;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container h2 {
    color: #FFFFFF;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.form-container input {
    padding: 0;
    color: #949393;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.buttons-container {
    position: absolute;
    bottom: 100px;
    /* Mover los botones hacia abajo fuera del formulario */
    display: flex;
}

.buttons-container a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #34344C;
    border-radius: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.buttons-container a,
button {
    margin-left: 5%;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #34344C;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    border-radius: 0.7rem;
    padding: 5% 15%;
    border: none;
}

button {
    margin: 0 5%;
    color: #FFFFFF;
    background-color: #1C697D;
    border-radius: 0.7rem;
    border: #1C697D;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}