@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
}

form {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/imagenes/background/FondoHuellitas.png");
    background-size: cover;
    background-position: center;
    background-color: #D9D9D9;
}
/*inputs part*/

.form-content{
    margin-top: 5%;
    background-color: #ffffff92;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
}

.form-content > .form-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.form-content > .form-cont > .form-group{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 8%;
    padding: 0;  
}

.form-content > .form-cont > .form-group > label{
    color: #949393;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1%;
}

.form-content > .form-cont > .form-group > .container{
    width: 120%;
    height: 2rem;
    border: 0.1rem solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
}
.form-content > .form-cont > .form-group > .container i {
    margin-left: 4%;
    margin-top: 3%;

}
.form-content > .form-cont > .form-group > .container > input {
    width: calc(100% - 2.7rem);
    height: calc(100% - 0.12rem);
    border: none;
    display: flex;
    align-items: center;
    border-left: 0.1rem solid #D9D9D9;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: black;
    border-radius: 0 0.5rem 0.5rem 0;
    font-size: 0.8rem;
    padding-left: 5%;
    margin-left: 5%;
    
}

.form-content> .form-cont >.form-container {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 2%;
}


.form-content> .form-cont >.form-container >.form-group {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 20%;
    padding: 0;   
}
.form-content> .form-cont >.form-container >.form-group > label {
    color: #949393;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1%;

}
.form-content> .form-cont >.form-container >.form-group  > .container {
    width: 90%;
    height: 1.9rem;
    border: 0.1rem solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;

}

.form-content> .form-cont>.form-container> .form-group>.container i{
    margin-left: 4%;
    margin-top: 3%;
}

.form-content> .form-cont>.form-container> .form-group>.container > input {
    width: calc(100% - 2.7rem);
    height: calc(100% - 0.12rem);
    border: none;
    display: flex;
    align-items: center;
    border-left: 0.1rem solid #D9D9D9;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: black;
    border-radius: 0 0.5rem 0.5rem 0;
    font-size: 0.8rem;
    padding-left: 5%;
    margin-left: 5%;
    
}

::placeholder {
    opacity: 1;

}
.form-content >.pet-title{
    width: 30%;
    height: 100%;
    background-color: #1C697D;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left:5%;
}

.form-content >.pet-title h2{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.buttons-container a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #34344C;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    border-radius: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

button {
    margin: 0 1rem;
    color: #FFFFFF;
    background-color: #1C697D;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    border-radius: 0.7rem;
    border: #1C697D;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}