@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
}

form {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/imagenes/FondoHuellitas.png");
    background-size: cover;
    background-position: center;
    background-color: #D9D9D9;
}

form>.form-owner-section {
    width: 80%;
    height: 20%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    background-color: #ffffff92;
}

.form-owner-section>.owner-title {
    width: 25%;
    height: 100%;
    background-color: #34344C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.form-owner-section>.owner-title h2 {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.form-owner-section>.form-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.form-owner-section>.form-group>.container {
    width: 35%;
    height: 1.7rem;
    border: 0.1rem solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    padding-left: 0.5rem;
}
.form-owner-section>.form-group>.container > input{
    width:calc(100% - 2.5rem);
    height: calc(100% - 0.1rem);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #949393;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    border: none;
    border-left: 0.1rem solid #D9D9D9;
    border-radius: 0 0.5rem 0.5rem 0;
    font-size: 0.5rem;
    margin-left: 2rem;
    padding-left: 5px;
}

/*inputs part*/

.form-content{
    margin-top: 5%;
    background-color: #ffffff92;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
}
.form-content >.form-container {
    width: 70%;
    height: 100%;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.form-content >.form-container >.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;   
}
.form-content >.form-container >.form-group  > .container {
    width: 80%;
    height: 2rem;
    border: 0.1rem solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
}
.form-content>.form-container> .form-group>.container > input {
    width: calc(100% - 2.7rem);
    height: calc(100% - 0.12rem);
    border: none;
    display: flex;
    align-items: center;
    border-left: 0.1rem solid #D9D9D9;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #949393;
    border-radius: 0 0.5rem 0.5rem 0;
    font-size: 0.8rem;
    padding-left: 0.5rem;
    margin-left: 2rem;
    
}

::placeholder {
    opacity: 1;
    color: black;
}
.form-content >.pet-title{
    width: 30%;
    height: 100%;
    background-color: #1C697D;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left:5%;
}

.form-content >.pet-title h2{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.buttons-container a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #34344C;
    border-radius: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

button {
    margin: 0 1rem;
    color: #FFFFFF;
    background-color: #1C697D;
    border-radius: 0.7rem;
    border: #1C697D;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}