<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/save_pet.css">
    <script src="/submitFormPet.js"></script>
    <title>Guardar mascota</title>
</head>

<body>
    <div class="content">

        <div class="form-owner-section">
            <div class="owner-title">
                <h2>DUEÑO</h2>
            </div>
            <div class="form-group">
                <div class="container">
                    <input type="text" class="form-control" id="idOwnerSection" placeholder="Cédula">
                    <!--
                                <input th:field="*{idOwner}" type="text" class="form-control" id="idOwner" placeholder="Cédula">
                             -->
                </div>
            </div>

        </div>

        <div class="form-content">
            <form th:object="${pet}" th:action="@{/pet/save}" th:method="post">
                <!-- Hidden input field for ID -->
                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <div class="container">
                        <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group">
                    <div class="container">
                        <input th:field="*{breed}" type="text" class="form-control" id="breed" placeholder="Raza">
                    </div>
                </div>
                <div class="form-group">
                    <div class="container">
                        <input th:field="*{age}" type="number" class="form-control" id="age" placeholder="Edad">
                    </div>
                </div>
                <div class="form-group">
                    <div class="container">
                        <input th:field="*{weight}" type="number" class="form-control" id="weight" placeholder="Peso">
                    </div>
                </div>
                <div class="form-group">
                    <div class="container">
                        <input th:field="*{disease}" type="text" class="form-control" id="disease"
                            placeholder="Enfermedad">
                    </div>
                </div>

                <div class="form-group">
                    <div class="container">
                        <input th:field="*{imgUrl}" type="text" class="form-control" id="imgUrl" placeholder="Imagen">
                    </div>
                </div>

                <div class="form-group">
                    <div class="container">
                        <input th:field="*{entry}" type="date" class="form-control" id="entry" placeholder="Entrada">
                    </div>
                </div>

                <div class="form-group">
                    <div class="container">
                        <input th:field="*{departure}" type="date" class="form-control" id="departure"
                            placeholder="Salida">
                    </div>
                </div>
            </form>
            <div class="title-container">
                <h2>Datos</h2>
                <h2>MASCOTA</h2>
            </div>
        </div>
        <div class="buttons-container">
            <a th:href="@{/pet/all}">Cancelar</a>
            <button id="save-button" class="btn-primary  ">Guardar</button>
        </div>

    </div>
</body>

</html>