<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 404 Page</title>
    <link rel="stylesheet" href="/styles/error_page_style.css">
</head>
<body>
    <img src="/images/error404/catError.png" alt="Cat error">
    <div id="container">
        <div id="text-container">
            <h1>OOPS! Página no encontrada</h1>
            <h2>Perdón, nuestros gatos no lograron encontrar la página.</h2>
            <a href="http://localhost:8090/pag/show">SÁCAME DE AQUÍ</a>
        </div>
    </div>
    
</body>
</html>