<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardar mascota</title>
</head>
<body>
    <form th:object="${pet}" th:action="@{/pet/save}" th:method="post">
        <!-- Hidden input field for ID -->
        <input type="hidden" th:field="*{id}" />
        
        <div class="form-group">
            <label for="name">Nombre</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Nombre">
        </div>
        <div class="form-group">
            <label for="breed">Raza</label>
            <input th:field="*{breed}" type="text" class="form-control" id="breed" placeholder="Raza">
        </div>
        <div class="form-group">
            <label for="age">Edad</label>
            <input th:field="*{age}" type="number" class="form-control" id="age" placeholder="Edad">
        </div>
        <div class="form-group">
            <label for="weight">Peso</label>
            <input th:field="*{weight}" type="number" class="form-control" id="weight" placeholder="Peso">
        </div>
        <div class="form-group">
            <label for="disease">Enfermedad</label>
            <input th:field="*{disease}" type="text" class="form-control" id="disease" placeholder="Enfermedad">
        </div>
        
        <div class="form-group">
            <label for="imgUrl">Imagen</label>
            <input th:field="*{imgUrl}" type="text" class="form-control" id="imgUrl" placeholder="Imagen">
        </div>

        <div class="form-group">
            <label for="entry">Entrada</label>
            <input th:field="*{entry}" type="date" class="form-control" id="entry" placeholder="Entrada">
        </div>

        <div class="form-group">
            <label for="entry">Salida</label>
            <input th:field="*{departure}" type="date" class="form-control" id="departure" placeholder="Salida">
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    
</body>
</html>