<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/loginOwnerScript.js" defer></script>
    <title>Login</title>
</head>
<body>
    <form id = "formOwner" th:action="@{/owner/login}" th:method="post">

        <div class="form-group">
            <label for="idCard">Cédula</label>
            <input name="idCard" type="number" class="form-control" id="idCard" placeholder="000000000">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</body>
</html>