<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/save_pet.css">
    <title>Guardar dueño</title>
</head>

<body>
    <div class="content">
        <div class="form-container">
            <div class="title-container">
                <h2>Datos<br>DUEÑO</h2>
            </div>
            <div class="form-content">
                <form th:object="${owner}" th:action="@{/owner/save}" th:method="post">
                    <!-- Hidden input field for ID -->
                    <input type="hidden" th:field="*{id}" />

                    <div class="form-group">
                        <div class="container">
                            <input th:field="*{idCard}" type="number" id="idCard" placeholder="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">

                            <input th:field="*{name}" type="text" id="name" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">

                            <input th:field="*{firstLastName}" type="text" id="firstLastName" placeholder="Apellido 1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">

                            <input th:field="*{secondLastName}" type="text" class="form-control" id="secondLastName"
                                placeholder="Apellido 2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">

                            <input th:field="*{phone}" type="number" class="form-control" id="phone"
                                placeholder="Telefono">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">

                            <input th:field="*{email}" type="email" class="form-control" id="email"
                                placeholder="Correo">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="buttons-container">
            <a href="/show_all_owners.html" class="btn btn-secondary">Cancelar</a> 
            <button type="submit">Guardar</button>
            <a href="/show_all_owners.html" class="btn btn-primary">Agregar</a>
        </div>
    </div>
</body>

</html>