<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dueño</title>
    <link rel="stylesheet" href="/styles/show_owner_style.css">
</head>
<body>
    <nav>
        <div id="logo-container">
            <a href="http://localhost:8090/pag/show">
                <img id="logo" src="/imagenes/showPet/logo.png">
            </a>
        </div>
        <div id="user">
            <h2>Nombre de usuario</h2>
            <img id="user-img" src="/imagenes/users/FotoUser.png">
        </div>
    </nav>

    <main>
        <section id="owner">
            <div>
                <img id="owner-img" src="/imagenes/users/owner.png">
            </div>
            <div id="owner-info">
                <div id="owner-data-container">
                    <div id="owner-name">
                        <h1>Datos Dueño</h1>
                    </div>
                    <div id="owner-data">
                        <div>
                            <p><strong>Cédula: </strong><span th:text="${owner.idCard}"></span></p>
                            <p><strong>Apellido1: </strong><span th:text="${owner.firstLastName}"></span></p>
                            <p><strong>Celular: </strong><span th:text="${owner.phone}"></span></p>
                        </div>
                        <div class>
                            <p><strong>Nombre: </strong><span th:text="${owner.firstName}"></span></p>
                            <p><strong>Apellido2: </strong><span th:text="${owner.secondLastName}"></span></p>
                            <p><strong>Correo: </strong><span th:text="${owner.email}"></span></p>
                        </div>
                    </div>
                </div>


            </div>

        </section>
            
    </main>
    <div class="ver-macotas">
        <a th:href="@{/owner/pets/{id}(id=${owner.id})}">Ver mascotas</a>
    </div>
</body>
</html>