<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/show_all_owners_style.css">
    <title>Todos los dueños</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;900&display=swap" rel="stylesheet">


</head>

<body>
    <div class="d-flex">
        <div class="sidebar">
            <!-- Sidebar content -->
            <img class="icon" src="/imagenes/Bigotes-2.png">
            <!-- Dentro de tu barra lateral en el archivo HTML -->
            <h4>Filtros</h4>
            <div class="filters">

                <div>
                    <input type="checkbox" id="filterNamePet">
                    <label for="filterNamePet">Nombre mascota</label>
                </div>
                <!-- Dentro de tu barra lateral en el archivo HTML -->
                <div class="search-input">
                    <input type="text" id="searchPet" placeholder="Inserte el nombre de la mascota">
                    <span class="search-icon"><i class="fas fa-search"></i></span>
                </div>

                <div>
                    <input type="checkbox" id="filterNameOwner">
                    <label for="filterNameOwner">Nombre dueño</label>
                </div>
                <!-- Dentro de tu barra lateral en el archivo HTML -->
                <div class="search-input">
                    <input type="text" id="searchPet" placeholder="Inserte el nombre del dueño">
                    <span class="search-icon"><i class="fas fa-search"></i></span>
                </div>


            </div>
            <h4>Adicionales</h4>
            <div class="addSection">
                <a th:href="@{/pet/add}">Agregar mascota</a>
                <a th:href="@{/owner/add}">Agregar dueño</a>
             </div>
            <p>Cerrar Sesión</p>

        </div>

        <div class="content">
            <div class="head">
                <h1>Nuestros Dueños</h1>
                <h2>Nombre usuario</h2>
                <img class="icon" src="/imagenes/FotoUser.png">
            </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Cédula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Correo</th>
                    <th>Adicionales</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" owner : ${owners}">
                    <td th:text="${owner.idCard}"></td>
                    <td th:text="${owner.name}"></td>
                    <td th:text="${owner.firstLastName}"></td>
                    <td th:text="${owner.phone}"></td>
                    <td th:text="${owner.email}"></td>
                    <td id="more">
                        <!--add pet to owner we need the path-->
                        <a th:href="@{/owner/find/{id}(id=${owner.id})}"> <img src="/imagenes/addPet.png"> </a>
                        <a th:href="@{/owner/del/{id}(id=${owner.id})}">
                            <img src="/imagenes/deleteIcon.png"> </a>
                        </a>
                        <a th:href="@{/owner/upd/{id}(id=${owner.id})}">
                            <img src="/imagenes/editIcon.png">
                        </a>
                        <a th:href="@{/owner/find/{id}(id=${owner.id})}"> ... </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>

</html>