<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dueño</title>
    <link rel="stylesheet" href="/styles/show_owner_style.css">
</head>
<body>
    <img src="/imagenes/showOwner/blackCat.png" alt="Black cat">
    <div class="content">
        <h1>Información dueño</h1>
    
        <div class="element">
            <p th:text="'Cédula: ' + ${owner.idCard}"></p>
        </div>
        
        <div class="element">
            <p th:text="'Nombre: ' + ${owner.firstName}"></p>
        </div>
    
        <div class="element">
            <p th:text="'Apellido 1: ' + ${owner.firstLastName}"></p>
        </div>
        
        <div class="element">
            <p th:text="'Apellido 2: ' + ${owner.secondLastName}"></p>
        </div>
    
        <div class="element">
            <p th:text="'Celular: ' + ${owner.phone}"></p>
        </div>
    
        <div class="element">
            <p th:text="'Correo: ' + ${owner.email}"></p>
        </div>

        <a th:href="@{/pet/owner-pets/{id}(id=${owner.id})}">Mis mascotas</a>

    </div>
    
    
</body>
</html>