<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dueño</title>
</head>
<body>
    <h1>Información dueño</h1>
    <p th:text="'Cédula: ' + ${owner.idCard}"></p>
    <p th:text="'Nombre: ' + ${owner.name}"></p>
    <p th:text="'Apellido 1: ' + ${owner.firstLastName}"></p>
    <p th:text="'Apellido 2: ' + ${owner.secondLastName}"></p>
    <p th:text="'Celular: ' + ${owner.phone}"></p>
    <p th:text="'Correo: ' + ${owner.email}"></p>
</body>
</html>